/* .css1 {
    background-color: red;
    height: 700px;
}

.css2 {
    border: 1px solid red;
    width: 500px;
    height: 200px;
}

.css3 {
   height: 900px;
}

.css4 {
    width: 800px;
} */

/* bg blue */
/* height 700 */

/* .mani {
   background-color: blue;
} */

/* blue, white change the color in all over the project */
